<!DOCTYPE html>

<p>Hello!</p>
<p>You can use next links:</p>
<p>
<a href="/admin/">admin/</a><br />
<a href="/api/v1/graphql/">api/v1/user/graphql/</a><br />
<a href="/api/v1/user/register/">api/v1/user/register/</a><br />
<a href="/api/v1/user/register/confirm/">api/v1/user/register/confirm/</a><br />
<a href="/api/v1/user/login/">api/v1/user/login/</a><br />
<a href="/api/v1/user/details/">api/v1/user/details/</a><br />
<a href="/api/v1/user/logout/">api/v1/user/logout/</a><br />
<a href="/api/v1/user/delete/">api/v1/user/delete/</a><br />
<a href="/api/v1/user/password_reset/">api/v1/user/password_reset/</a><br />
<a href="/api/v1/user/password_reset/confirm/">api/v1/user/password_reset/confirm/</a>
</p>
<p>
    <a href="/api/v1/file/">api/v1/file/[POST, GET, PUT, DELETE]</a><br />
    <a href="/api/v1/file/mongo/">api/v1/file/mongo/[POST, GET, PUT, DELETE]</a>
</p>
<p>
    <a href="/api/v1/celery_status/">api/v1/celery_status/[name='celery_status']</a>
</p>
<p>
    <a href="/api/v1/auth0/public">api/v1/auth0/public</a><br />
    <a href="/api/v1/auth0/private-scoped/">api/v1/auth0/private-scoped/</a><br />
    <a href="/api/v1/auth0/">api/v1/auth0/[name='auth0_index']</a><br />
    <a href="/api/v1/auth0/login/">api/v1/auth0/login [name='auth0_login']</a><br />
    <a href="/api/v1/auth0/logout/">api/v1/auth0/logout/ [name='auth0_logout']</a><br />
    <a href="/api/v1/auth0/callback/">api/v1/auth0/callback [name='auth0_callback']</a>
</p>
<p>
    <a href="/silk/">silk/</a>
</p>
<p>
    <a href="/api/schema/">api/schema/ [name='schema']</a><br />
    <a href="/api/schema/swagger-ui/">api/schema/swagger-ui/[name='swagger-ui']</a><br />
    <a href="api/schema/redoc//">api/schema/redoc/ [name='redoc']</a>
</p>
